

.icon-image {
    border-radius: 25px;
    margin: 40px;
    height: auto;
    width: 26vw;
    margin-bottom: 0px;
}
.icon-image:hover {
    opacity: 0.6;
}
.icon-text {
    margin-top: 30px;
   
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #45484F;
    
    margin-bottom: 5px;
    text-align: center;
}
.description-text {
    color: #9C9BA5;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}
.image-wrapper { 
    position: relative; 
    
  }
  .issue-card-cont {
    align-items: center;
    max-width: 25vw;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    border-color: #9DA3B2;
    box-shadow: 1px 1px 15px grey;

}
  
  .img-text {
    position: absolute; 
    font-size: 40px;
    font-size: 70px;
        color: #45484F;
    z-index: 1;
    top: 35%;; 
    left: 40%;  
  }

  @media only screen and (max-width: 700px) {
    .img-text {
        position: absolute; 
        font-size: 50px;
        color: #45484F;
        z-index: 1;
        top: 30%;; 
        left: 30%;  
      }
    
  }



  /* 
  Issue Description Stuff
  */


  .card {
    border-width: 1px;
    border-color: #eeeeee;
    box-shadow: 1px 1px 40px grey;
    border-style: solid;
      margin: 20px;
      background-color: #FFFFFF;
      display: flex;
      
      border-radius: 2px;
      flex-direction: column;
      align-content: center;
      align-items: center;
  }
 
  .card-title-text {
    text-decoration: underline;
    align-self: center;
    margin: 20px;
    
    text-align: center;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }
  .card-subtitle-text {
     
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #9DA3B2;
  }

  .spacer {
    margin-top: 0px;
    border-bottom: 1px dotted #9DA3B2;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
  }
  .card-btn {
      background-color: #ffffff;
      margin: 20px;
      outline: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 50px;
      padding-right: 50px;
      border-width: 1px;
      border-style: solid;
      border-color: #e56f56;
      border-radius: 45px;
  }
  .card-btn:hover {
      opacity: 0.6;
  }

  .btn-txt {
    text-align: center;
    color: #e56f56;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  .color-top {
      height: 80px;
      
  }
 