

.icon-image {
    border-radius: 25px;
    margin: 40px;
    height: auto;
    width: 26vw;
    margin-bottom: 0px;
}
.icon-image:hover {
    opacity: 0.6;
}
.icon-text {
    margin-top: 0px;
    max-width: 26vw;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #45484F;
    margin-left: 40px;
    margin-bottom: 5px;
    text-align: center;
}
.description-text {
    color: #9C9BA5;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}
.image-wrapper { 
    position: relative; 
    
  }
  
  .img-text {
    position: absolute; 
    font-size: 40px;
    font-size: 70px;
        color: #45484F;
    z-index: 1;
    top: 35%;; 
    left: 40%;  
  }

  @media only screen and (max-width: 700px) {
    .img-text {
        position: absolute; 
        font-size: 50px;
        color: #45484F;
        z-index: 1;
        top: 30%;; 
        left: 30%;  
      }
    
  }