

.icon-image {
    border-radius: 10%;
    margin: 20px;
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 0px;
}
.icon-image:hover {
    opacity: 0.6;
}
.icon-text {
    margin-top: 0px;
    max-width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #888E9B;
    margin-left: 25px;
}