.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F8F8F8;

}

.title-cont {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
}
.title {
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  font-size: 40px;
  color: #e56f56;
  letter-spacing: 1px;
  font-family: 'Modak', cursive;

}
.intro {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 300;
  color: #303030;
  font-family: 'Lato', sans-serif;
}
.paragraph {
  max-width: 50vw;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #898989;
  text-align: center;
  align-self: center;
}
.logo {
  max-width: 100px;
  max-height: 120px;
  align-self: center;
}

.login-card {
  box-shadow: 1px 1px 20px;
  grid-column-start: 2;
  background-color: white;
  grid-column-end: 4;
  margin: 30px;
  border-radius: 2px;
}