.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8F8F8;

}

a:link {
  text-decoration: none;
}
.horiz {
  display: flex;
  flex-direction: row;
}

.title-cont {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
}
.title {
  margin-top: 30px;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 50px;
  color: #e56f56;
  letter-spacing: 1px;
  font-family: 'Modak', cursive;

}
.intro {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 300;
  color: #303030;
  font-family: 'Lato', sans-serif;
}
.paragraph {
  max-width: 50vw;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #898989;
  text-align: center;
  align-self: center;
}
.logo {
  max-width: 100px;
  max-height: 120px;
  align-self: center;
}


.login-btn:hover {
  opacity: 0.5;
}
hr {
  border-width: 1px;
  color: #303030;
}

.login  {
  background: #ECECEC;
		border-radius: 15px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#e56f56;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 145px;
		margin:0px auto;
    margin-top:60px;
    margin-bottom: 60px;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
}


.login-card {
  box-shadow: 1px 1px 20px;
  grid-column-start: 2;
  background-color: white;
  grid-column-end: 4;
  margin: 30px;
  border-radius: 2px;
}
@media only screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto;
  }
  
}
@media only screen and (min-width: 700px) {
  .grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;

  }
}

.spacer {
  margin-top: 0px;
  border-bottom: 1px dotted #9DA3B2;
  width: 90vw;
  margin-left: 40px;
  margin-right: 40px;
  align-self: center;
}


.add-button {
  margin: 30px;
  margin-top: 40px;
  margin-right: 80px;
  background-color: transparent;
  outline: 0px;
  border-width: 0px;

}
.add-button:hover {
  opacity: 0.5;
}
.btn-text {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #a7a7a7;
}

.sub-bar-text {
  margin-left: 60px;
  font-family: 'Poppins', sans-serif;
  color: #898989;
}
.sub-bar-text:hover {
  opacity: 0.6;
}

